<section class="container p-4">
  <div class="card ">
    <div class="card-header">
      <h4>Commencer</h4>
      <p class="card-text" style="font-size: small;color: darkgray;">Étape 1 de 6</p>
    </div>
    <div class="card-body">
      <p class="card-title">Entrer le titre de votre appel d'offre</p>
      <input class="form-control" type="text" value="Rédaction d'article de blog sur la réalité virtuelle">
    </div>
  </div>

  <!--second card-->
  <div class="card " style="margin-top:20px;">
    <div class="card-body">
      <h4>Catégorie</h4>
      <p class="card-title">merci de choisir la categorie que vous souhaitez la cibler dans votre appel d'offre. </p>
      <app-radio></app-radio>
    </div>
  </div>


</section>

