div {
  margin:1rem;
  min-width: 150px;
  min-height: 100px;
  border:1px solid rgb(149, 145, 167);
  display: inline-block;
  border-radius: 5%;

}
div:hover {
  box-shadow: 0 5px 8px rgba(33,33,33,.4);
  cursor: pointer;
}
